/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Контент */
body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  padding: 4px 8px;
  font-size: 18px;
}
.flex {
  display: flex;
  gap: 8px;
}
