/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Контент */
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
.title--mod {
    color: red;
}
.subtitle--mod {
    color: green;
}
.wrap-link {
    margin-bottom: 16px;
}

/* Изображения */
img {
    max-width: 100%;
}
.img-wrap {
    display: flex;
    margin-bottom: 16px;
}

/* Форма */
.form__wrap {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}
.form__element {
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #eee;
}
.form__element--submit {
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    font-size: 16px;
}
.form__element--submit:hover {
    background-color: #2980b9;
}

/* Кнопки */
.btn-wrap {
    display: flex;
    margin: -8px;
    margin-bottom: 8px;
}
.btn {
    color: #fff;
    background-color: #3498db;
    font-size: 16px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px;
}
.btn:hover {
    background-color: #2980b9;
}
